p {
 hyphens: auto;
 hyphenate-limit-chars: 6 3 3;
 hyphenate-limit-lines: 2;
 hyphenate-limit-last: always;
 hyphenate-limit-zone: 8%;
 margin: 0 0 rem(10) 0;
}

a {
  text-decoration: none;
}

/************* font ***********************/

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-underline {
  text-decoration: underline;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-justify {
  text-align: justify;
}

.text-primary {
}

.text-success {

}

.text-warning {
}

.text-danger {
}

.text-nowrap {
  white-space: nowrap;
}

//////////////////////

.svg-current {
  fill: currentColor;
}





























































































































































































































































































































