<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="description" content="Dedicated to delivering creative and impactful solutions tailored to your needs.">
	<meta name="keywords" content="Anastasiia Khaia, front-end, freelancer, freelance services,">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="">
	<meta name="twitter:title" content="Khaia Anastasiia - I am a Freelancer">
	<meta name="twitter:description" content="Dedicated to delivering creative and impactful solutions tailored to your needs.">
	<meta name="twitter:image" content="https://nnasttia.in.ua/favicon/android-chrome-512x512.png">
	<meta name="twitter:image:alt" content="An logo representing website.">
	<meta property="og:url" content="https://nnasttia.in.ua/">
	<meta property="og:title" content="Khaia Anastasiia - I am a Freelancer">
	<meta property="og:description" content="Dedicated to delivering creative and impactful solutions tailored to your needs.">
	<meta property="og:image" content="https://nnasttia.in.ua/favicon/android-chrome-512x512.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="512">
	<meta property="og:image:height" content="512">
	<meta property="og:image:alt" content="An logo representing website">
	<meta property="og:type" content="website">
	<meta property="og:locale" content="en_US">
	<meta property="og:logo" content="https://nnasttia.in.ua/favicon/android-chrome-512x512.png">
	<title>Khaia Anastasiia - Freelancer</title>
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">

	<link rel="icon" type="image/svg+xml" href="favicon/favicon-svg.svg">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon/desktop-favicon-96x96.png">
	<link rel="icon" type="image/x-icon" href="favicon/android-chrome-192x192.ico">
	<link rel="icon" type="image/x-icon" href="favicon/android-chrome-512x512.ico">

	<link rel="manifest" href="manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#2b3d4f">
	<link rel="stylesheet" href="css/style.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
</head>
