label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

a, button, input[type="submit"], input[type="button"] {
  &:focus-visible {
    outline: rem(2) solid var(--white);
    outline-offset: rem(2);
  }
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=radio],
input[type=checkbox] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

input[readonly] {
  //background-color: $white-transparent-5;
}

.form-control:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-control:focus::-moz-placeholder {
  color: transparent;
}

.form-control:focus:-moz-placeholder {
  color: transparent;
}

.form-control:focus:-ms-input-placeholder {
  color: transparent;
}

.form-control[disabled], fieldset[disabled] .form-control,
.form-control-select[disabled], fieldset[disabled] .form-control-select,
.form-control-textarea[disabled], fieldset[disabled] .form-control-textarea {

}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: rem(160);
  min-height: rem(48);
  padding-left: rem(15);
  padding-right: rem(15);
  background: transparent;
  font-size: rem(16);
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-align: center;
  border-radius: rem(50);
  outline: none;
  overflow: hidden;
  cursor: pointer;
  @include transition;

  &.btn-primary {
    background: var(--primary);
    color: var(--white);
    border: rem(1) solid var(--primary);

    &:is(:hover, &:focus, &:active) {
      background: transparent;
      color: var(--primary);
    }
  }

  &.btn-outline-primary {
    color: var(--primary);
    border: rem(1) solid var(--primary);

    &:is(:hover, &:focus, &:active) {
      background: var(--primary);
      color: var(--white);
    }
  }
}

.btn-block {
  width: 100%;
  display: flex;
}

.btn-warning {
}

.btn-info {
}

.btn-success {
}

.btn-danger {
}

///////////////////

.form-group,
.form-action {
}

input.form-control,
select.form-control {
}

.form-control {
  @include input-placeholder {
    opacity: 1;
  }

  overflow: visible;
  display: block;

  &:active, &:focus {
  }
}

//////////////

.form-group {
  position: relative;
  margin-bottom: rem(30);
}

.form-control {
  background-color: #304255;
  color: var(--white);
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  outline: none;
  box-shadow: none;
  border-radius: 0;
  height: rem(46);
  padding: rem(12);
  width: 100%;
  @include transition;
}

textarea.form-control {
  height: rem(120);
  resize: none;
  padding-top: rem(18);
}

.input-border {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(22, 192, 240, .8);
  transform: scale(0);
  @include transition;
}

.form-control:focus ~ .input-border {
  transform: scale(1);
}

.form-message {
  position: absolute;
  left: 0;
  bottom: rem(-55);
  width: 100%;
  color: var(--white);
  border-radius: rem(5);
  font-size: rem(15);
  padding: rem(12);
  text-transform: uppercase;

  &.success {
    background-color: #37983b;
  }

  &.error {
    background-color: #f54033;
  }
}

form:has(input:invalid) {
  border: 1px solid red;
}

/*label:has(+ input:checked) {
  color: green;
}*/


